{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message: {{ message.title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'secrets_share/detail-style.css' %}">
</head>
<body>

<a href="{% url 'secrets_share:index' %}">Go Home</a>

<p>Message Permalink: <a href="{% url 'secrets_share:detail_hash' message.get_hash_id %}">{{ message.get_hash_id }}</a></p>

<p>Date created: {{ message.submit_date }}</p>

{% if not decrypted_text %}
<form method="post">{% csrf_token %}
    <legend><h3>Decrypt message</h3></legend>
    {% if error_message %}
        <b><p>{{ error_message }}</p></b>
    {% endif %}
    Password: <input type="password" name="password" required="">
    <input type="submit" value="Decrypt">
</form>
{% else %}
    <h3>Decrypted text</h3><div class="message-text"><i>{{ decrypted_text }}</i></div>
{% endif %}

</body>
</html>