{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'secrets_share/style.css' %}">
</head>
<body>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-sm-8">
            <h1 class="mt-2">Index page</h1>

            <a href={% url 'secrets_share:submit' %}><h3 class="mt-5">Submit new secret</h3></a>
        </div>
    </div>
</div>

</body>
</html>